body {
    background-color: #EEEEEE;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 6, 6);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

p{
    text-indent: 5px;
    color: #414141;
  }

.spacep {
    margin-left: 3%;
}